#criteria {
    margin: 2vh auto;
    padding: 1em;

    width: 80vw;

    border: 2px dashed #3B4656;
    border-radius: 15px;

    background-color: #d1d8e3;
}

.criteria-title {
    font-size: 30px;
}

.criteria-li {
    font-size: 20px;
}


#cr-segment {
    height: 70vh;
    width: auto;

    font-size: 20px;
}

.cr-cat {
    margin: 1vw;

    height: auto;

    background-color: #efefef;

    border-radius: 20px;
    border: 1px solid black;
}

#cr-group {
    width: 80vw;

    margin-left: 10vw;
}

.section-title {
    font-size: 30px;
}

.section-header {
    font-size: 25px;

    text-align: center;
    margin-bottom: 1vh;
}

.center-group {
    background-color: #b4b4b4;
    border-radius: 5px;

    margin-bottom: 2vh;
}

.general-group {

}

.grade-ti {
    margin-bottom: 3vh;

    text-align: center;
}

.cat-spaced {
    margin-left: 5px;
    margin-right: 5px;
}

#course-desc {
    margin: auto;

    width: 80vw;
}

#description-btn {
    text-align: center;

    font-size: 25px;

    padding: 0.7em;
    margin: auto;

    width: 10vw;

    background-color: #13467F;
    border-radius: 20px;

    color: #efefef;

    transition: 0.15s;
}

#description-btn:hover {
    background-color: #1d67bb;

    transform: scale(1.03);
}

.course-list-parent {
    margin: auto;

    width: 60vw;
}

.course-list-child {
    text-align: center;

    width: 5rem;
    height: 7rem;

    margin: 3em;

    padding: 1em;

}

.course-description {
    font-size: 20px;
    text-align: center;
}