#pages {
    background-color: #13467F;

    border: none;
    border-bottom: 1px solid white;
}

#buttons {
    margin-left: 80vw;
}

.pg-link-btn {
    padding: 1rem 1vw;

    color: white;
}

.pg-link {
    padding: 1rem;

    color: white;

    border-bottom: #3B4656;
}

.pg-link:hover{
    background-color: #1b5596;
}


body {
    padding: 0;
    margin: 0;

    font-family: "Times New Roman", serif;
}

footer {
    padding: 0;
    margin: 10vh 0 0;

    width: auto;
    height: 5vh;

    background-color: rgb(128, 128, 128);
}

.footer-txt {
    text-align: center;
}

#pg-content {
    background-color: white;
}

#header {
    width: auto;
    height: 2.7em;

    background-color: #3B4656;
}

.sticky-header {
    position: fixed;
    top: 0;

    width: 100vw;

    transition: 1s;
}

#title {
    padding-top: 1vh;

    text-align: center;

    font-size: 25px;

    color: white;
}

#title-segment {
    width: auto;

    padding-top: 2vh;
    padding-bottom: 2vh;

    background-color: #13467F;
}

#titlescreen {
    background-image: url("/assets/placeholderBG.png");

    margin: auto;

    border-radius: 10px;

    width: 80vw;
    height: 60vh;
}

#welcome-txt {
    text-align: center;

    padding-top: 15vh;

    font-size: 20px;
}

#intro-segment {
    width: 80vw;

    margin: 15vh auto auto;
}

.intro-txt {
    text-align: center;
}